/* .nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
body{ background: #EDECEC; padding:50px} */
.form-horizontal .control-label.text-left{
    text-align: left;
}
.title {
    color: #8FBABE;
}

.slider.slider-horizontal {
    width: 180px !important;    
}

.listMarginTop {
    margin-top: 5%;
}

.marginBottom {
    margin-bottom: 5%;
}
/* #filterMenu {
    width: 0;
} */

#toggleFilterMenu {
    width: 26%;
}

.nav-tabs li {
    float: left;
    margin-bottom: -1px;
    padding: 0 50px;
}

.nav-tabs li a {
    border: 0 !important;
    font-size: 18px;
    line-height: 2;
}

.nav-tabs li.active a {
    color: red;
    border-bottom: 2px solid #ccc !important;
    /* padding: 0 50px; */
    line-height: 2;
}

.nav-tabs li.active a:hover {
    color: red !important;
}

.nav-tabs li.active a:focus {
    color: red !important;
}

.productBtn1 {
    margin-bottom: 8%;
    left: 11%;
}

.btn.active {
    background-color: red;
    border-color: red;
    color: white;
}

#containerHorizontalBarChart {
    /* border: 1px solid #ccc; */
}
#containerBarsChart {
    /* border: 1px solid #ccc; */
}
#containerCharts {
    /* border: 1px solid #ccc; */
}

.alignMap {
    margin-top: 10%;
    margin-left: -2px;
}

.marginTop {
    margin-top: 15%;
}

#containermap {
    /* border: 1px solid #ccc; */
    /* margin-top: 15%; */
}

.compareBtn {
    border-color: orange;
    color: orange;
    margin-bottom: 5%;
}

#accountsContent h1{
    text-decoration: underline;
}

#accountsContent ul{
    display: flex;
}

#accountsContent ul li {
    list-style: none;
    text-align: left;
    display: inline-block;
    width: 100%;
}

#accountsContent ul li h2{
    text-align: left;
    display: inline-block;
    margin-top: -2%;
    margin-bottom: 7%;
}

#competitorsContent ul li {
    list-style: none;
    text-align: left;
    display: inline-block;
    width: 100%;
}

#competitorsContent ul li h2{
    text-align: left;
    display: inline-block;
    margin-top: -2%;
    margin-bottom: 7%;
}

#product ul li {
    list-style: none;
    text-align: left;
    display: inline-block;
    width: 100%;
}

#product ul li h2{
    text-align: left;
    display: inline-block;
    width: 49%;
    margin-top: -2%;
    margin-bottom: 7%;
}

#fixedElement {
    /* background-color: #c0c0c0; */
    position: relative;;
    top:0;
    /* width:100%; */
    z-index:100;
}

.inputBox {
    border: 0;
    border-bottom: 1px solid #eae4e4;
}

.inputBox:focus {
    border: 0;
    border-bottom: 1px solid #eae4e4;
}

/*Side Panel*/
body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  /* Side Panel*/