<?php

// Exit if accessed directly
// if ( !defined( 'ABSPATH' ) ) {
// 	exit;
// }

/**
 * Demo Page Template
 *
Template Name:  Demo Page Template 
 * @file        demo.php
 */
// get_header(); ?>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" id="bootstrap-css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap-slider.css" />
    <link rel="stylesheet" href="demoStyles.css" />

    <div id="page-wrapper" class="">
        <form>
            <div class="">
                <div class="col-md-12 text-center">
                    <div class="col-md-offset-2 col-md-9 col-xs-12 col-sm-5">
                        <ul class="nav nav-tabs" role="tablist" style="width: 100%">
                            <li role="presentation" class="active">
                                <a id="productAnchor" href="#product" aria-controls="product" role="tab" data-toggle="tab">Product</a>
                            </li>
                            <li role="presentation">
                                <a id="competitorsAnchor" href="#competitorsContent" aria-controls="competitorsContent" role="tab" data-toggle="tab">Competetor Comparison</a>
                            </li>
                            <li role="presentation">
                                <a id="cust_accountsAnchor" href="#accountsContent" aria-controls="accountsContent" role="tab" data-toggle="tab">Future Customer Accounts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12" style="top: 35px;">
                    <div class="">
                        <div id="toggleFilterMenu" class="col-xs-4">
                            <div id="filterMenu">
                                <h2>Filters</h2>
                                <div class="form-group">
                                    <p class="h5">Product</p>
                                    <input class="inputBox" id="_product">
                                </div>
                                <div class="form-group">
                                    <p class="h5">Revenue</p>
                                    <div>
                                        <span>$10</span>
                                        <span>
                                            <input id="_revenue" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5"
                                                data-slider-value="[250,450]" />
                                        </span>
                                        <span>$1000</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="h5">Employees</p>
                                    <div>
                                        <span>$10</span>
                                        <span>
                                            <input id="_employee" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5"
                                                data-slider-value="[250,450]" />
                                        </span>
                                        <span>$1000</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="h5">Locations</p>
                                    <input class="inputBox" id="_location">
                                </div>
                                <div class="form-group">
                                    <p class="h5">Industries</p>
                                    <input class="inputBox" id="_industries">
                                </div>
                                <div class="form-group">
                                    <p class="h5">Confidence Level</p>
                                    <input class="inputBox" id="_cLevel">
                                </div>
                                <div class="form-group">
                                    <div class="radio-inline">
                                        <label>
                                            <!-- <input type="checkbox" name="optionsRadiosInline1" id="_optionsRadio1" checked=""> OfficeMain -->
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <!-- <input type="checkbox" name="optionsRadiosInline" id="_optionsRadio2"   > OneIM -->
                                        </label>
                                    </div>
                                </div>
                                <!-- <button type="submit" class="btn btn-default btn-xs">Submit Button</button>
                                                <button type="reset" class="btn btn-default btn-xs">Reset Button</button> -->

                            </div>
                        </div>
                        <div id="toggleFullScreen" class="col-xs-8">
                            <div class="col-md-12 text-center">
                                <div class="">
                                    <div class="col-md-12" style="width: 100%;">
                                        <div class="card">
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="product">
                                                    <h2 class="title">SalesForce customer and adoption trends</h2>
                                                    <hr>
                                                    <div class="col-md-6 listMarginTop">
                                                        <ul>
                                                            <li>
                                                                <p>Estimated customer accounts</p>
                                                                <h2>150,100</h2>
                                                            </li>
                                                            <li>
                                                                <p>Customer added</p>
                                                                <h2>-4%</h2>
                                                            </li>
                                                            <li>
                                                                <p>Percentage change</p>
                                                                <h2>+2%</h2>
                                                            </li>
                                                            <li>
                                                                <p>Total Contacts</p>
                                                                <h2>1,233</h2>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-6 listMarginTop">
                                                        <ul>
                                                            <li>
                                                                <p>HIGH SalesForce Confidence level</p>
                                                                <h2>80,581</h2>
                                                            </li>
                                                            <li>
                                                                <p>MEDIUM SalesForce Confidence level</p>
                                                                <h2>150,100</h2>
                                                            </li>
                                                            <li>
                                                                <p>LOW SalesForce Confidence level</p>
                                                                <h2>150,100</h2>
                                                            </li>
                                                            <li>
                                                                <p>Future SalesForce Confidence level</p>
                                                                <h2>150,100</h2>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <button type="button" class="compareBtn btn btn-default">Compare Technologies</button>
                                                    </div>

                                                    <div class="container">
                                                        <div class="row">

                                                            <div class="col-lg-12 embed-responsive embed-responsive-16by9">
                                                                <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                                <hr>
                                                                <div class="col-md-10">
                                                                    <div class="btn-group btn-toggle productBtn1">
                                                                        <button id="productContact1" type="button" class="btn btn-default">Contacts</button>
                                                                        <button id="productAccounts1" type="button" class="btn btn-default active">Accounts</button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-10 embed-responsive-item" id="containermap"></div>
                                                                <div class="col-lg-2 alignMap" style="display: inline-block">
                                                                    <button type="button" id="latam" class=" btn btn-default">latam</button>
                                                                    <button type="button" id="apac" class=" btn btn-default">apac</button>
                                                                    <button type="button" id="emea" class=" btn btn-default">emea</button>
                                                                    <button type="button" id="global" class=" btn btn-default">global</button>
                                                                    <button type="button" id="usCanada" class=" btn btn-default">us and canada</button>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <button id="productDataAnalysis" type="button" class="compareBtn btn btn-default">
                                                                        Use this data for sales analysis
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <hr>
                                                        <div id="containerCharts"></div>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <div id="containerBarsChart"></div>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <div id="containerHorizontalBarChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                                                    </div>
                                                </div>

                                                <div role="tabpanel" class="tab-pane" id="competitorsContent">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <ul>
                                                                <li>
                                                                    <p class="h6">Product</p>
                                                                    <input class="inputBox" id="_productCompetitorsContent" placeholder="Product">
                                                                </li>
                                                            </ul>
                                                            <ul class="marginTop">
                                                                <li>
                                                                    <p class="h6">Total customers</p>
                                                                    <h2>150,100</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">New customers added</p>
                                                                    <h2>+2%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Customer dropped</p>
                                                                    <h2>3%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Total Contacts</p>
                                                                    <h2>1455</h2>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <ul>
                                                                <li>
                                                                    <p class="h6">Product</p>
                                                                    <input class="inputBox" id="_productCompetitorsContent" placeholder="Product">
                                                                </li>
                                                            </ul>
                                                            <ul class="marginTop">
                                                                <li>
                                                                    <p class="h6">Total customers</p>
                                                                    <h2>150,100</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">New customers added</p>
                                                                    <h2>+2%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Customer dropped</p>
                                                                    <h2>3%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Total Contacts</p>
                                                                    <h2>1455</h2>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <ul>
                                                                <li>
                                                                    <p class="h6">Product</p>
                                                                    <input class="inputBox" id="_productCompetitorsContent" placeholder="Product">
                                                                </li>
                                                            </ul>
                                                            <ul class="marginTop">
                                                                <li>
                                                                    <p class="h6">Total customers</p>
                                                                    <h2>150,100</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">New customers added</p>
                                                                    <h2>+2%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Customer dropped</p>
                                                                    <h2>3%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Total Contacts</p>
                                                                    <h2>1455</h2>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <ul>
                                                                <li>
                                                                    <p class="h6">Product</p>
                                                                    <input class="inputBox" id="_productCompetitorsContent" placeholder="Product">
                                                                </li>
                                                            </ul>
                                                            <ul class="marginTop">
                                                                <li>
                                                                    <p class="h6">Total customers</p>
                                                                    <h2>150,100</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">New customers added</p>
                                                                    <h2>+2%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Customer dropped</p>
                                                                    <h2>3%</h2>
                                                                </li>
                                                                <li>
                                                                    <p class="h6">Total Contacts</p>
                                                                    <h2>1455</h2>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="alignMap">
                                                            <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                            <div id="containermapCompetitorContent"></div>
                                                        </div>
                                                        <div class="alignMap">
                                                            <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                            <div id="containerChartsCompetitorContent"></div>
                                                        </div>
                                                        <div class="alignMap">
                                                            <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                            <div id="containerBarsChartCompetitorContent"></div>
                                                        </div>
                                                        <div class="alignMap">
                                                            <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                            <div id="containerHorizontalBarChartCompetitorContent" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div role="tabpanel" class="tab-pane" id="accountsContent">
                                                    <div class="text-center col-md-12">
                                                        <h1>SalesForce future customers</h1>
                                                        <ul>
                                                            <li>
                                                                <p class="h6">Future Customers</p>
                                                                <h2>7,306</h2>
                                                            </li>
                                                            <li>
                                                                <p class="h6">Current Customers</p>
                                                                <h2>7,306</h2>
                                                            </li>
                                                            <li>
                                                                <p class="h6">Total Customers</p>
                                                                <h2>7,306</h2>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <table class="table table-responsive " id=customerTable>
                                                        <thead>
                                                            <th>name</th>
                                                            <th>name2</th>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                    <div class="col-md-10">
                                                        <button type="button" class="compareBtn btn btn-default">Compare Technologies</button>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>SalesForce future customers chart breakdown.</h2>
                                                        <div id="containermapNTP"></div>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <div id="containerChartsNTP"></div>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <div id="containerBarsChartNTP"></div>
                                                    </div>
                                                    <div class="alignMap">
                                                        <h2>Distribution of SalesForce customers across US and Canada</h2>
                                                        <div id="containerHorizontalBarChartNTP"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /#wrapper -->
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="bootstrap-slider.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="//code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="graphs_maps_product.js"></script>
    <script src="graphs_maps_Competitor.js"></script>
    <script src="graphs_maps_ntp.js"></script>

    <!-- Map scripts - add the below to your page -->
    <!-- jsmaps-panzoom.js is optional if you are using enablePanZoom -->
    <link href="jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
    <script src="jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="jsmaps/jsmaps-panzoom.js"></script>
    <script src="jsmaps/jsmaps.js" type="text/javascript"></script>
    <script src="maps/usaCanada.js" type="text/javascript"></script>
    <!-- End Map scripts -->

    <script src="script.js"></script>

    <?php //get_footer(); ?>